<footer class="ba-footer">
    <div class="row column">
		  <div class="ba-footer-wrap">
			<div class="ba-copyright">©2014 tulusdriyo. All Rights Reserved.</div>
			<div class="ba-socials">
			 <a href="#">
				 <svg width="17" height="17">
					 <use xlink:href="#icon-instagram" />
				 </svg>
			 </a>
			 <a href="#">
				 <svg width="17" height="17">
					 <use xlink:href="#icon-pinterest2" />
				 </svg>
			 </a>
			 <a href="#">
				 <svg width="21" height="21">
					 <use xlink:href="#icon-twitter" />
				 </svg>
			 </a>
			 <a href="#">
				 <svg width="19px" height="18px">
					 <use xlink:href="#dribble-icon" />
				 </svg>
			 </a>
		 </div>
		  </div>
    </div>
    <!-- /.row -->
</footer>
<!-- /.ba-footer -->