<header class="ba-header-wrap">    
    <div class="ba-header-header">
        <div class="row align-middle ">
            <div class="column small-12 medium-5">
                <a href="/">
                    <img src="{{root}}assets/img/logo.png" alt="Logo">
                </a>
            </div>
            <!-- /.column -->
            <div class="column shrink small-12 medium-7">
                <button class="menu-icon dark hide-for-medium ba-toggle" type="button" data-open="offCanvas" aria-label="Show menu">
                        </button>
                <ul class="menu ba-main-menu show-for-medium">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#works">Works</a></li>
                    <li><a href="#map">Contact</a></li>
                </ul>
            </div>
            <!-- /.column -->
        </div>
        <!-- /.row -->
    </div>
</header>