<section class="ba-section ba-section--team">
	<div class="row column text-center">
		<div class="ba-section-title">
			<img src="{{root}}assets/img/icon-team.png" alt="MEET OUR TEAM">
			<h2>MEET OUR TEAM</h2>
			
		</div>

		<div class="row column text-center">
			<div class="ba-team-slider">
				<article class="ba-team-slide">
					<img src="{{root}}assets/img/team-member-1.png" alt="Miguel Obrien">
					<h3>Miguel Obrien</h3>
					<span>CEO & Founder</span>
					<div class="ba-team-slide__socials">
						<a href="#">
							<svg width="17" height="17">
								<use xlink:href="#icon-instagram" />
							</svg>
						</a>
						<a href="#">
							<svg width="17" height="17">
								<use xlink:href="#icon-pinterest2" />
							</svg>
						</a>
						<a href="#">
							<svg width="21" height="21">
								<use xlink:href="#icon-twitter" />
							</svg>
						</a>
						<a href="#">
							<svg width="19px" height="18px">
								<use xlink:href="#dribble-icon" />
							</svg>
						</a>
					</div>

				</article>
				<article class="ba-team-slide">
					<img src="{{root}}assets/img/team-member-2.png" alt="Miguel Obrien">
					<h3>Miguel Obrien</h3>
					<span>CEO & Founder</span>
					<div class="ba-team-slide__socials">
						<a href="#">
							<svg width="17" height="17">
								<use xlink:href="#icon-instagram" />
							</svg>
						</a>
						<a href="#">
							<svg width="17" height="17">
								<use xlink:href="#icon-pinterest2" />
							</svg>
						</a>
						<a href="#">
							<svg width="21" height="21">
								<use xlink:href="#icon-twitter" />
							</svg>
						</a>
						<a href="#">
							<svg width="19px" height="18px">
								<use xlink:href="#dribble-icon" />
							</svg>
						</a>
					</div>

				</article>
				<article class="ba-team-slide">
					<img src="{{root}}assets/img/team-member-3.png" alt="Miguel Obrien">
					<h3>Miguel Obrien</h3>
					<span>CEO & Founder</span>
					<div class="ba-team-slide__socials">
						<a href="#">
							<svg width="17" height="17">
								<use xlink:href="#icon-instagram" />
							</svg>
						</a>
						<a href="#">
							<svg width="17" height="17">
								<use xlink:href="#icon-pinterest2" />
							</svg>
						</a>
						<a href="#">
							<svg width="21" height="21">
								<use xlink:href="#icon-twitter" />
							</svg>
						</a>
						<a href="#">
							<svg width="19px" height="18px">
								<use xlink:href="#dribble-icon" />
							</svg>
						</a>
					</div>

				</article>
				<article class="ba-team-slide">
					<img src="{{root}}assets/img/team-member-1.png" alt="Miguel Obrien">
					<h3>Miguel Obrien</h3>
					<span>CEO & Founder</span>
					<div class="ba-team-slide__socials">
						<a href="#">
							<svg width="17" height="17">
								<use xlink:href="#icon-instagram" />
							</svg>
						</a>
						<a href="#">
							<svg width="17" height="17">
								<use xlink:href="#icon-pinterest2" />
							</svg>
						</a>
						<a href="#">
							<svg width="21" height="21">
								<use xlink:href="#icon-twitter" />
							</svg>
						</a>
						<a href="#">
							<svg width="19px" height="18px">
								<use xlink:href="#dribble-icon" />
							</svg>
						</a>
					</div>

				</article>
				<article class="ba-team-slide">
					<img src="{{root}}assets/img/team-member-2.png" alt="Miguel Obrien">
					<h3>Miguel Obrien</h3>
					<span>CEO & Founder</span>
					<div class="ba-team-slide__socials">
						<a href="#">
							<svg width="17" height="17">
								<use xlink:href="#icon-instagram" />
							</svg>
						</a>
						<a href="#">
							<svg width="17" height="17">
								<use xlink:href="#icon-pinterest2" />
							</svg>
						</a>
						<a href="#">
							<svg width="21" height="21">
								<use xlink:href="#icon-twitter" />
							</svg>
						</a>
						<a href="#">
							<svg width="19px" height="18px">
								<use xlink:href="#dribble-icon" />
							</svg>
						</a>
					</div>

				</article>
				<article class="ba-team-slide">
					<img src="{{root}}assets/img/team-member-3.png" alt="Miguel Obrien">
					<h3>Miguel Obrien</h3>
					<span>CEO & Founder</span>
					<div class="ba-team-slide__socials">
						<a href="#">
							<svg width="17" height="17">
								<use xlink:href="#icon-instagram" />
							</svg>
						</a>
						<a href="#">
							<svg width="17" height="17">
								<use xlink:href="#icon-pinterest2" />
							</svg>
						</a>
						<a href="#">
							<svg width="21" height="21">
								<use xlink:href="#icon-twitter" />
							</svg>
						</a>
						<a href="#">
							<svg width="19px" height="18px">
								<use xlink:href="#dribble-icon" />
							</svg>
						</a>
					</div>

				</article>
				<article class="ba-team-slide">
					<img src="{{root}}assets/img/team-member-1.png" alt="Miguel Obrien">
					<h3>Miguel Obrien</h3>
					<span>CEO & Founder</span>
					<div class="ba-team-slide__socials">
						<a href="#">
							<svg width="17" height="17">
								<use xlink:href="#icon-instagram" />
							</svg>
						</a>
						<a href="#">
							<svg width="17" height="17">
								<use xlink:href="#icon-pinterest2" />
							</svg>
						</a>
						<a href="#">
							<svg width="21" height="21">
								<use xlink:href="#icon-twitter" />
							</svg>
						</a>
						<a href="#">
							<svg width="19px" height="18px">
								<use xlink:href="#dribble-icon" />
							</svg>
						</a>
					</div>

				</article>
			</div>
			
		</div>
		<!-- /.row column medium-offset-2 -->
	</div>
	<!-- /.row column -->
</section>