<section class="ba-section ba-section--recent" id="works">
	<div class="row column text-center">
		<div class="ba-section-title">
			<img src="{{root}}assets/img/icon-works.png" alt="RECENT WORKS">
			<h2>RECENT WORKS</h2>
			
		</div>

		<div class="row column text-center">
			<div class="ba-slider">
				<article class="ba-slide">
					<img src="{{root}}assets/img/gallery-1.jpg" alt="Oscar Mayer Street">
				</article>
				<article class="ba-slide">
					<img src="{{root}}assets/img/gallery-1.jpg" alt="Oscar Mayer Street">
				</article>
				<article class="ba-slide">
					<img src="{{root}}assets/img/gallery-1.jpg" alt="Oscar Mayer Street">
				</article>
				<article class="ba-slide">
					<img src="{{root}}assets/img/gallery-1.jpg" alt="Oscar Mayer Street">
				</article>
			</div>
			
		</div>
		<!-- /.row column medium-offset-2 -->
		<a href="#" class="ba-button-view">View Gallery</a>
	</div>
	<!-- /.row column -->
</section>