<section class="ba-section ba-section--services" id="services">
	<div class="row collapse">
		<div class="column small-12 medium-8">
			<div class="row collapse">
				<div class="column small-12 medium-6">
					<div class="ba-service-box ba-service-box--darken">
						<img src="{{root}}assets/img/icon-graphic.png" alt="GRAPHIC DESIGN">
						<h3>GRAPHIC DESIGN</h3>
						<p>Cras mattis consectetur purus sit amet fermentum.</p>
					</div>
				</div>
				<!-- /.column small-12 medium-6 -->
				<div class="column small-12 medium-6">
					<div class="ba-service-box">
						<img src="{{root}}assets/img/icon-web.png" alt="WEB DEVELOPMENT">
						<h3>WEB DEVELOPMENT</h3>
						<p>Cras mattis consectetur purus sit amet fermentum.</p>
					</div>
				</div>
				<!-- /.column small-12 medium-6 -->
				<div class="column small-12 medium-6">
					<div class="ba-service-box">
						<img src="{{root}}assets/img/icon-seo.png" alt="GRAPHIC DESIGN">
						<h3>SEO & MARKETING</h3>
						<p>Cras mattis consectetur purus sit amet fermentum.</p>
					</div>
				</div>
				<!-- /.column small-12 medium-6 -->
				<div class="column small-12 medium-6">
					<div class="ba-service-box ba-service-box--darken">
						<img src="{{root}}assets/img/icon-mobile.png" alt="MOBILE DEVELOPMENT">
						<h3>MOBILE DEVELOPMENT</h3>
						<p>Cras mattis consectetur purus sit amet fermentum.</p>
					</div>
				</div>
				<!-- /.column small-12 medium-6 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.column small-12 medium-8 -->
		<div class="column small-12 medium-4">
			<div class="ba-services">
				<div class="ba-services__icon">
					<img src="{{root}}assets/img/services-icon.png" alt="About Us">
				</div>
				<div class="ba-services__title">
					OUR SERVICES
				</div>
				<p>“Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.”
					- Borat -</p>
			</div>
		</div>
		<!-- /.column small-12 medium-8 -->
	</div>
	<!-- /.row -->
</section>