<section class="ba-section ba-section--map">
	<div id="map" style="width:100vw; height:900px; margin:0 auto;background:#666666;"></div>
	<div class="row">
		<div class="column small-12 medium-offset-2 medium-10">
			<div class="ba-section-title ba-section-title--map">
				<img src="{{root}}assets/img/marker.png" alt="GET IN TOUCH">
				<h2>GET IN TOUCH</h2>

			</div>
			<form action="get" class="ba-map-form">
				<div class="ba-map-form__box">

					<input type="text" placeholder="Your Name *">
					<input type="email" placeholder="Your Email *" >

				</div>
				<textarea name="" id="" cols="30" rows="10" placeholder="Your Message *"></textarea>
				<button type="submit" class="ba-map-button">SEND MESSAGE</button>
			</form>
		</div>

	</div>
</section>