<section class="ba-section ba-section--about" id="about">
	<div class="row collapse">
		<div class="column small-12 medium-5">
			<div class="ba-about">
				<div class="ba-about__icon">
					<img src="{{root}}assets/img/icon-about.png" alt="About Us">
				</div>
				<h2 class="ba-about__title">
					About Us 
				</h2>
			</div>
		</div>
		<!-- /.column small-12 medium-5 -->
		<div class="column small-12 medium-7">
			<div class="ba-title-wrap">
				<div class="ba-about-info">
					<p class="ba-about-info__text-1">
						Nullam quis risus eget urna <b>mollis ornare</b> vel eu leo. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
					</p>
					<p class="ba-about-info__text-2">
						<strong>Morbi leo risus</strong>, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.
					</p>
				</div>
				<a href="#" class="ba-button-learn">Learn More</a>
			</div>
		</div>
		<!-- /.column small-12 medium-5 -->
	</div>
	<!-- /.row -->
</section>